body{
    background-color: #edeef5;
    font-family: "Poppins", sans-serif;
    
}

.container-fluid .dropdown-manu{
    margin-left: 150px;
    margin-top: 30px;  
}

.card-profile{
    margin-top: 30px;
    margin-left: 30px;
    height: 145px;
    width: 420;
    box-shadow: 2px 2px 5px 0px rgba(0, 11, 132, 0.35);
    border-radius: 15px;
    background-color: #fff;
}
.card-profile .profile-image img{
    width: 70px;
    height: 70px;
    margin-left: 50px;
    margin-top: 20px;
    

}

.emp-profile{
    padding-left: 10px;
    padding-top: 30px;
}

.emp-profile img{
    margin-left: 40px;
    margin-bottom: 20px;
    

}
.emp-profile .profile-head{
    padding-top: 25px;
}
.col-md-7{
    width: 869px;
    height: 1200px;
    background-color: #fff;
    right: 30px;
}
.col-lg-8{
  margin-top: 15px;
}
.col-md-7 .col-sm-3{
    padding-left: 50px;
}
.tab span{
    color: #444DDA ;
    margin: 50px;
    font-size:larger;
    margin-bottom: 30px;
    
}
.tab a{
    color: #444DDA ;
    margin: 30px;
    font-size:larger;
    text-decoration: none;
  }
  .tab ul{
    margin-bottom: 10px;
    margin-left: 40px;
  }
   .tab-content input{
    border: 1px solid #444DDA;
   } 
   .tab-content{
    margin-left: 40px;
   }


   .rating-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.4rem 0.8rem;
    width: 100%;
  }
  svg {
    fill: rgb(242, 242, 242);
    height: 3.6rem;
    width: 3.6rem;
    margin: 0.2rem;
  }
  
  .rating-form-2 svg {
    height: 3rem;
    width: 3rem;
    margin: 0.5rem;
    justify-content: center;
  }
  
  #radios label {
    position: relative;
  }
  
  input[type="radio"] {
    position: absolute;
    opacity: 0;
  }
  
  input[type="radio"] + svg {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  input + svg {
    cursor: pointer;
  }
  
  input[class="super-happy"]:hover + svg,
  input[class="super-happy"]:checked + svg,
  input[class="super-happy"]:focus + svg {
    fill: rgb(0, 109, 217);
  }
  
  
  input[class="super-sad"]:hover + svg,
  input[class="super-sad"]:checked + svg,
  input[class="super-sad"]:focus + svg {
    fill: rgb(239, 42, 16);
  }

  input[class="star"]:hover + svg,
  input[class="star"]:checked + svg,
  input[class="star"]:focus + svg {
    fill: rgb(216, 193, 46);
  }
  .input-group{
    color: #444DDA;

  }
  .input-group input{
    border: 1px solid #444DDA;
  }
  .input-group select{
    border: 1px solid #444DDA;
  }
   